*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100dvh;
    width: 100%;
    background-image: url(assets/bg-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}

.logo span{
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    left: -7px;
    bottom: -14px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    /* float: left; */
}

.right-col{
    /* float: right; */
    margin-right: 4%;
    /* margin-top: 120px; */
    display: flex;
    align-items: center;
}

.right-col p{
    font-size: 18px;
    color: #5f5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}


#icon{
    width: 230px;
    height: 230px;
    cursor: pointer;
}

/* ..........................................animation */

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }

  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }

  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }

  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }

  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }

    50% {
      height: 50px;
    }

    100% {
      height: 10px;
    }
  }

/* ............................................................................................... */
#main-heading .animating-volumes{
    display: none;
}
#main-heading #sound-text{
    display: initial;
}
#main-heading.active #sound-text{
    display: none;
}
#main-heading.active .animating-volumes{
    display: block;
}

@media (max-width:1100px){

    .left-col h1{
        font-size: 70px;
        line-height: 90px;
    }

    .right-col p{
        font-size: 16px;
        margin-right: 0px;
    }
}

@media(max-width:999px){

.right-col{
    flex-direction: column-reverse;
    align-items: center;
}
.left-col h1{
    font-size: 54px;
    line-height: 75px;
}

.right-col p{
    font-size: 14px;
}
}
@media(max-width:732px){

    .left-col h1{
        font-size: 52px;
        line-height: 60px;
    }

    
    .right-col p{
        font-size: 13px;
    }
    #icon{
        width: 180px;
        height: 180px;
        cursor: pointer;
    }
}
@media(max-width:680px){

    .left-col h1{
        font-size: 42px;
        line-height: 57px;
    }
    
    #icon{
        width: 130px;
        height: 130px;
        cursor: pointer;
    }
}

@media(max-width:630px){
    .content{
        width: 100%;
        position: absolute;
        top: 30%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: flex-start;
    }

    .right-col{
        margin-left: auto;
    }
}



@media(max-width:575px){
    .navbar{
        padding: 24px 0;
    }

.left-col{
    position: relative;
    /* bottom: 110px; */
    bottom: 80px;
    margin-left: 6%;
}

.right-col{
    position: relative;
    top: -110px;
}

}

@media(max-width:500px){
    .navbar{
        padding: 24px 0;
    }

.left-col{
    position: relative;
    bottom: 80px;
    /* bottom: 80px; */
    /* margin-left: 6%; */
}
.left-col h1{
    font-size: 38px;
    line-height: 53px;
}
.right-col{
    top: -110px;
}
}

@media(max-width:461px){
    .content{
        display: flex;
        flex-direction: row;
    }

.left-col{
    position: relative;
    top: 240px;
    left: 0px;
}
.right-col{
    top: -80px;
}
.loading-wave {
    width: 100px;
  }
  .right-col p{
   position: relative;
   top: -30px;
   font-size: 10px;
}



}



@media(max-width:390px){
    .navbar{
        padding: 10px 0;
    }

.left-col{
  top: 220px;
}
.left-col h1{
    font-size: 25px;
    line-height: 41px;
}
.right-col p{
    left: 25px;
}

}
@media(max-width:322px){

    .content{
        display: flex;
        flex-direction: row;
    }
    .left-col{
        position: relative;
        top: 110px;
        left: 0px;
    }
    .right-col{
        top: 160px;
        left: 30px;
    }
    .right-col p{
        left: -20px;
        top: 10px;
    }
}